@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-md-3">
        <h2>Cadastro de Veiculos em ASP.NET Core MVC</h2>
        <ul>
            <li>Utilização do Visual Studio 2019</li>
            <li>Banco do dados SQlServe</li>
        </ul>
    </div>
</div>
